.container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}
/* .container Image {
  height: 85vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--secondary-color);
  position: absolute;
} */

.info {
  position: absolute;
  margin-left: 5em;
}
.info h1 {
  margin: 0;
  color: var(--secondary-color);
  font-size: 70px;
}
.info p {
  margin-top: 10px;
  width: 500px;
  color: var(--secondary-color);
  font-size: 25px;
  line-height: 30px;
}
.info Button {
  margin-top: 50px;
}
