.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 100px;
}
.notify {
  position: absolute;
}
.title1 {
  font-size: 35px;
  text-transform: uppercase;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.panel {
  width: 30vw;
  height: 450px;
  background-color: #cccccc;
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 50px;
}
.contacts div {
  display: flex;
  line-height: 3px;
}
.contacts p {
  margin-left: 10px;
  font-size: 20px;
}
.contacts img {
  width: 25px;
}
.title2 {
  font-size: 25px;
  text-transform: uppercase;
}
.socmed {
  margin-top: 40px;
}
.socmed div {
  display: flex;
  gap: 10px;
}
.socmed img {
  width: 40px;
  cursor: pointer;
}
/* Form */
.form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 20px;
}
.form div {
  display: flex;
  flex-direction: column;
}
.alert {
  color: red;
  margin: 0;
  margin-top: 10px;
}

.form label {
  text-transform: uppercase;
  font-size: 20px;
}
.text {
  margin-top: 10px;
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  text-decoration: none;
  outline: none;
  font-size: 15px;
}
.message {
  margin-top: 5px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 15px;
}
.submit {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 100px;
  background-color: #ffffff;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.submit:hover {
  background-color: black;
  color: white;
}
.submit:active {
  background-color: rgb(74, 74, 74);
}

/* Mobile Layout */
@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    flex-direction: column;
  }
  .container .form {
    grid-row-start: 1;
    width: 90vw;
  }
  .info {
    margin-top: 50px;
  }
  .panel {
    width: 80vw;
  }
  .contacts p {
    font-size: 1.1em;
  }
  .title2 {
    font-size: 1.3em;
  }
  .socmed img {
    width: 30px;
    cursor: pointer;
  }
  .submit:hover {
    background-color: white;
    color: black;
  }
  .submit:active {
    background-color: black;
    color: #ffffff;
    outline: none;
  }
}
