.container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  transition: all 0.4s ease-in-out;
  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
/*logo*/
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3em;
  z-index: 99;
}
.logo img {
  width: 45px;
}
.logo h1 {
  font-size: 40px;
  color: var(--primary-color);
  margin: 0;
  letter-spacing: 5px;
  margin-left: 15px;
}

/* .logo p {
  font-size: 15px;
  margin: 0;
  letter-spacing: 10px;
  color: var(--secondary-color);
  text-transform: uppercase;
} */
/*navigation links*/
.navDesktop {
  display: flex;
  margin-right: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  color: var(--primary-color);
}
.nav li {
  list-style: none;
}

/* toggle theme*/
/* .toggle {
  background-color: var(--secondary-color);
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle img {
  border-radius: 100px;
  width: 20px;
  aspect-ratio: 1/1;
  cursor: pointer;
} */

/* mobile setup */
.hamburger {
  display: none;
}
.active {
  display: none;
}

.navMobile {
  padding-top: 2em;
  z-index: 1;
  position: fixed;
  top: -100%;
  width: 100%;
  height: 310px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
.navMobile .nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60vh;
  text-align: center;
  gap: 1px;
  margin-top: 1.7em;
  box-shadow: inset 0px 11px 8px -10px #ccc;
}
.navMobile .nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.navMobile .nav li:active {
  background-color: gray;
}
.navMobile .nav li button:hover::after {
  display: none;
}
/*  */
/* Mobile Layout */
@media only screen and (max-width: 768px) {
  .navDesktop {
    display: none;
  }
  .container {
    height: 60px;
  }
  .logo {
    margin-left: 2em;
  }
  .logo img {
    width: 40px;
  }
  .logo h1 {
    font-size: 35px;
  }

  /* when scrolled*/
  .scrolled {
    height: 60px;
  }

  .hamburger {
    margin-right: 1em;
    position: relative;
    display: block;
    width: 40px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 5px;
  }

  .active {
    position: relative;
    display: block;
    width: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin-right: 1em;
    z-index: 99;
  }
  .active .bar,
  .active::after,
  .active::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 5px;
  }

  .active .bar {
    transform: translateX(-80px);
    opacity: 0;
    transition: all 0.5s;
  }
  .active::before {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  .active::after {
    transform: rotate(45deg) translate(-9px, -6px);
  }

  .navMobile {
    top: 0;
    transition: all 1s ease-in-out;
  }
}
